/** ACL Paleta de Colores */
:root {
  --red: #E02957;
  --white: #FFFFFF;
  --dark: #1F2937;
  --grey: #6B7280;
  --light-grey: #C6CFD2;
}

.App {
  text-align: center;
}

.logo {
  max-width: 50px;
  max-height: 50px;
}

.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.containerp-1{ 
  background: gray; 
  min-height: 90%;
  min-width: 100%; 

 }
.Container-h1{
  font-weight: normal;
  color: white;
}

.formContainer {
  background-color: rgba(255,255,255,0.7);
  border-radius: 8px;
  min-width: 300px;
  width: 60%;
  max-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formContainer h3 {
  font-size: 20px;
  font-weight: normal;
  color: #2f2f2f;
}
.formContainer h2 {
  font-size: 30px;
  font-weight: bolder;
  color: var(--red);
}
.formContainer form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.formContainer form .inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 10px 15px;
  border-radius: 8px;
}
.formContainer form .inputContainer .left {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 80%;
}
.formContainer form .inputContainer .left label {
  text-align: start;
  font-size: 12px;
}
.formContainer form .inputContainer .left input {
  border: none;
  font-weight: bold;
  background-color: inherit;
  font-size: 13px;
  color: #2f2f2f;
}
.formContainer form button {
  margin-top: 10px;
  border: none;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: var(--red);
  border-radius: 8px;
  transition-duration: 0.3s;
}
.formContainer form button:hover {
  background-color: var(--red);
}
.formContainer form p {
  text-align: center;
  font-size: 12px;
}
.formContainer form p b {
  cursor: pointer;
  color: var(--red);
}
.formContainer form p b:hover {
  text-decoration: underline;
}
.toast {
  transition-duration: 0.3s;
  background-color: var(--red) 75;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  padding: 10px;
}

.box {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus {
  outline-color: var(--white);
}

footer {
  background-color: var(--dark);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.svg {
  background-color: var(--red);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
}

/* Para ocultar los controles del input númerico */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}