/** ACL Paleta de Colores */
:root {
  --red: #E02957;
  --white: #FFFFFF;
  --dark: #1F2937;
  --grey: #6B7280;
  --light-grey: #C6CFD2;
}

#root {
  position: relative;
    min-height: 100vh;
}

.App {
  text-align: center;
  padding-bottom: 2.5rem;
}

.logo {
  max-width: 50px;
  max-height: 50px;
}

.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.containerp-1{ 
  background: gray; 
  min-height: 90%;
  min-width: 100%; 

 }
.Container-h1{
  font-weight: normal;
  color: white;
}

.formContainer {
  background-color: rgba(255,255,255,0.7);
  border-radius: 8px;
  min-width: 300px;
  width: 60%;
  max-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formContainer h3 {
  font-size: 20px;
  font-weight: normal;
  color: #2f2f2f;
}
.formContainer h2 {
  font-size: 30px;
  font-weight: bolder;
  color: var(--red);
}
.formContainer form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.formContainer form .inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 10px 15px;
  border-radius: 8px;
}
.formContainer form .inputContainer .left {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 80%;
}
.formContainer form .inputContainer .left label {
  text-align: start;
  font-size: 12px;
}
.formContainer form .inputContainer .left input {
  border: none;
  font-weight: bold;
  background-color: inherit;
  font-size: 13px;
  color: #2f2f2f;
}
.formContainer form button {
  margin-top: 10px;
  border: none;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: var(--red);
  border-radius: 8px;
  transition-duration: 0.3s;
}
.formContainer form button:hover {
  background-color: var(--red);
}
.formContainer form p {
  text-align: center;
  font-size: 12px;
}
.formContainer form p b {
  cursor: pointer;
  color: var(--red);
}
.formContainer form p b:hover {
  text-decoration: underline;
}
.toast {
  transition-duration: 0.3s;
  background-color: var(--red) 75;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  position: static;
  bottom: 0;
  margin-bottom: 15px;
  padding: 10px;
}

.box {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus {
  outline-color: var(--white);
}

/* footer {
  background-color: var(--dark);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
} */

footer {
  background-color: var(--dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.svg {
  background-color: var(--red);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
}

.svg {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.svg:hover {
  transform: translateY(-2px);
}

/* Para ocultar los controles del input númerico */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.view-modal {
  max-width: 50%
  !important

}

.table-scrollable {
  display: block;
  height: 300px;
  overflow-y: auto;
}

.table-scrollable thead tr  {
  border-style: unset;
}

/* .table-scrollable thead tr th  {
  border-width: 0px;
} */

body {
  background-color: #E02957;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231F2937'/%3E%3Cstop offset='1' stop-color='%23E02957'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23E02957' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23E02957' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.card {
  background-color:rgba(255,255,255,0.7) !important;
}